<ul class="cities" id="citiesContainer" ng-show="hasCities">
	<li class="cities-item" ng-repeat="city in cities" ng-click="onCityItemClick (city)">
		<div class="cities-item-title">{{city.city}}</div>
	</li>
</ul>
<div class="form">
	<div class="form-part">
		<label for="inptFrom" class="form-part-title">Travel from:</label>
		<input type="text" value="{{from}}" ng-keyup="onFromFieldKeyUp ($event)" ng-focus="onFromFieldKeyUp ($event)" id="inptFrom" class="form-part-input"/>
	</div>
	<div class="form-part">
		<label for="inptTo" class="form-part-title">Travel to:</label>
		<input type="text" value="{{to}}" ng-keyup="onToFieldKeyUp ($event)" ng-focus="onToFieldKeyUp ($event)" id="inptTo" class="form-part-input"/>
	</div>
	<div class="form-part">
		<label for="inptDate" class="form-part-title">Travel date:</label>
		<input type="text" value="{{date}}" id="inptDate" class="form-part-input form-part-input-data"/>
	</div>
	<button class="button" ng-click="onRegisterButtonClick ($event)">Register New Trip</button>
</div>
<div class="content">
	<table class="table" ng-show="hasTrips">
		<tr class="table-row" ng-repeat="trip in trips">
			<td class="table-cell">{{trip.fromLocation.city}}</td>
			<td class="table-cell-arrow">&nbsp;</td>
			<td class="table-cell">{{trip.toLocation.city}}</a></td>
			<td class="table-cell">{{trip.tripDateStr}}</td>
			<td class="table-cell">{{trip.left}} day(s) left</td>
			<td class="table-cell-button"><button class="button hide" ng-click="onHideButtonClick (trip)" ng-hide="trip.hidden">Hide</button><button class="button"  ng-click="onShowButtonClick (trip)" ng-show="trip.hidden">Show</button></td>
		</tr>
	</table>
	<div class="table-empty" ng-hide="hasTrips">No Trips Found</div>
</div>