<ul class="cities" id="citiesContainer" ng-show="hasCities">
	<li class="cities-item" ng-repeat="city in cities" ng-click="onCityItemClick (city)">
		<div class="cities-item-title">{{city.city}}</div>
	</li>
</ul>
<div class="form">
	<div class="form-part">
		<label for="inptFrom" class="form-part-title">Ship from:</label>
		<input type="text" value="{{from.city}}" ng-keyup="onFromFieldKeyUp ($event)" ng-focus="onFromFieldKeyUp ($event)" id="inptFrom" class="form-part-input"/>
	</div>
	<div class="form-part">
		<label for="inptTo" class="form-part-title">Ship to:</label>
		<input type="text" value="{{to.city}}" ng-keyup="onToFieldKeyUp ($event)" ng-focus="onToFieldKeyUp ($event)" id="inptTo" class="form-part-input"/>
	</div>
	<button class="button" ng-click="onSearchButtonClick ($event)">Get Trips</button>
</div>
<div class="content">
	<table class="table" ng-show="hasTrips">
		<tr class="table-row" ng-repeat="trip in trips">
			<td class="table-cell-photo"><img src="img/photo.png" width="30" height="30"/></td>
			<td class="table-cell"><a href="mailto:{{trip.contact.email}}">{{trip.contact.firstName}} {{trip.contact.lastName}}</a></td>
			<td class="table-cell-arrow">&nbsp;</td>
			<td class="table-cell">{{trip.toLocation.city}}</a></td>
			<td class="table-cell">{{trip.tripDateStr}}</td>
			<td class="table-cell">{{trip.daysLeft}} day(s) left</td>
			<td class="table-cell-last"></td>
		</tr>
	</table>
	<div class="table-empty" ng-hide="hasTrips">No Trips Found</div>
</div>